<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KQ首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/nav.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
    <script src="/static/js/nav.js"></script>
</head>
<body>
 <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/">KQ</a></h1>
        <li><a href="/">首页</a> </li>
          <li><a href="">地图</a></li>
        <li><a href="/list">房价排行</a>
          <ul class="sub-nav">
            <li><a href="/list">区域排行</a></li>
            <li><a href="/list">分区房价</a></li>
            <li><a href="/list">变化分析</a></li>

          </ul>
        </li>
        <li><a href="photo.html">资讯</a>
            <ul class="new-nav">
                <li><a href="">相关新闻</a></li>
                <li><a href="">相关政策</a></li>
                <li><a href="">相关知识</a></li>
            </ul>
        </li>
        <li><a href="about.html">关于我们</a> </li>
      </nav>
    </div>
    <a id="login">登录</a>
    <a href="/logout" id="register">注册</a>

  </header>
</body>
</html>